{% extends 'base.html' %}
{% load bootstrap3 %}

{% block header %}
    <h2>ავტომობილის დამატება:</h2>

{% endblock header %}
{% block content %}
    {% load leaflet_tags %}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
    <form action="{% url 'car:new_car' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form car_form %}
        {% buttons %}

            <button name="submit" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span> დამატება
            </button>

        {% endbuttons %}
    </form>
{% endblock content %}